#wetter{
        width: 90%;
    }
.newsfeed{
        width: 90%;
        height: 500px;
    }

    iframe.newsfeed{
        height: 450px; 
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #2f4f4f;
        border-radius: 5px;
    }

    .input:hover {
            border: 2px solid #2f4f4f;
        }

    .button:hover {
            background-color: #2f4f4f;
            color: #d0b0b0;
        }
        
    .scroll{
        overflow: auto;
        
        height: 375px;
    }

    #resultTable,
    #resultTable th,
    #resultTable td {
            border-collapse: collapse;
            border: 1px solid #2f4f4f;
            
        }
    #resultTable td {
        max-width: 600px;
        word-wrap: break-word;
    }
    #resultTable {
        width: 100%;
    }
    .Design {
        width: 90% ;
        left: 400px;
        top: 8px;
        height: 420px;
        
    }

    th {
            color: #2f4f4f;
            font-weight: normal;
            height: 25px;
        }

    


    h1 {
            color: #2f4f4f;
        }

    fieldset {
            background-color: #f4ecec;
            border: 1px solid #2f4f4f;
            border-radius: 5px;
            margin-left:10px;
            width: 90%;
        }

    legend {
            color: #2f4f4f;
            font-size: 200%;
        }
 #extra{
     resize: none;
     height:50px;
 }   

 .sidebar {
    height: 100%;
    width: 0; 
    min-width: 0;
    position: fixed; 
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color:#be8e8e;
    border-right: 2px solid #2f4f4f;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
  }
#main{
    width: 100vw;
    min-width: 80vw;
    transition: 0.5s;
}
#createButtonBox{
    max-width:230px;
}

    